fastapi
uvicorn
easyocr
opencv-python-headless
numpy
pandas
scikit-learn
python-multipart
sentence-transformers
keybert
pyspellchecker
python-Levenshtein
sqlalchemy
rake-nltk
passlib[bcrypt]
python-jose[cryptography]
email-validator
openpyxl
